.topic-cards-list {
  .topic-list-body {
    gap: .25em;
  }
}

.topic-card {
  flex-direction: column;
  max-height: none;
  max-width: none;
  gap: 0;

  &:has(.topic-card__thumbnail) {
    max-height: unset;
  }

  .link-bottom-line,
  .pull-left,
  .topic-item-stats {
    display: none;
  }

  .topic-list-data {
    max-width: none;
  }

  &__thumbnail {
    text-align: center;
    margin-bottom: 1rem;

    .main-thumbnail {
      width: 100%;
      max-height: 250px;
      border-radius: var(--d-border-radius-large);
    }
  }

  &__tags {
    display: none;
  }

  .main-link {
    display: grid;
    grid-template-areas:
      "header tags"
      "title title"
      "excerpt excerpt"
      "last-reply last-reply"
      "metadata metadata";
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr auto;
    width: 100%;

    &:first-child {
      grid-template-columns: auto 1fr;
    }

    .link-top-line {
      grid-area: title;
    }
  }
}
